@import url('http://netdna.bootstrapcdn.com/bootstrap/3.0.1/css/bootstrap.min.css')
@import url('http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css')

body, html
  height 100%

body
  font normal 1em 
  font-weight 100
  font-family 'Source Sans Pro', 'Helvetica', 'Arial', sans-serif
  color white
  background #58d758 //Old browsers
  background -moz-linear-gradient(45deg,  #58d758 8%, #45ccda 91%) /* FF3.6+ */
  background -webkit-gradient(linear, left bottom, right top, color-stop(8%,#58d758), color-stop(91%,#45ccda)) /* Chrome,Safari4+ */
  background -webkit-linear-gradient(45deg,  #58d758 8%,#45ccda 91%) /* Chrome10+,Safari5.1+ */
  background -o-linear-gradient(45deg,  #58d758 8%,#45ccda 91%) /* Opera 11.10+ */
  background -ms-linear-gradient(45deg,  #58d758 8%,#45ccda 91%) /* IE10+ */
  background linear-gradient(45deg,  #58d758 8%,#45ccda 91%) /* W3C */
  filter "progid:DXImageTransform.Microsoft.gradient(startColorstr='#58d758', endColorstr='#45ccda',GradientType=1)"
  text-shadow 1px 1px 3px rgba(0,0,0,0.2)
  margin-top 10px
  background-position center center
  background-attachment fixed
  background-size cover

.jumbotron
  background-color transparent

  p
    padding 1em 0em

.navbar-default 
  background rgba(255,255,255, 0.2)
  border-color rgba(255,255,255, 0.2)

a.navbar-brand 
  color white !important

.navbar-default .navbar-nav li a
  color white

.navbar-default .navbar-nav li a:hover
  color white

pre
  margin-top 3em
  background #222
  color #A7E4A7

.center
  text-align center

a
  color white

.big
  font-size 72pt

.medium
  font-size 48pt
  padding 10pt

#features
  margin-top 120px


  span
    font-size 12pt
    line-height 1 !important


.btn-tour
  background #0091FF
  border-bottom solid 3px rgba(0,0,0,0.2)
  text-shadow 1px 1px 3px rgba(0,0,0,0.2)

.btn-tour:hover
  border-bottom-color rgba(0,0,0,0.1)
  color white
  background #35A7FF



footer
  margin-top 10em
  padding-bottom 0.5em

  .container
    border-top solid 1px white
    padding-top 0.5em
