@import url('http://netdna.bootstrapcdn.com/bootstrap/3.0.1/css/bootstrap.min.css')
@import url('http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css')

body, html
  height 100%

body
  font normal 1em 
  font-weight 100
  font-family 'Source Sans Pro', 'Helvetica', 'Arial', sans-serif
  color white
  background #58d758 //Old browsers
  background -moz-linear-gradient(45deg,  #58d758 8%, #45ccda 91%) /* FF3.6+ */
  background -webkit-gradient(linear, left bottom, right top, color-stop(8%,#58d758), color-stop(91%,#45ccda)) /* Chrome,Safari4+ */
  background -webkit-linear-gradient(45deg,  #58d758 8%,#45ccda 91%) /* Chrome10+,Safari5.1+ */
  background -o-linear-gradient(45deg,  #58d758 8%,#45ccda 91%) /* Opera 11.10+ */
  background -ms-linear-gradient(45deg,  #58d758 8%,#45ccda 91%) /* IE10+ */
  background linear-gradient(45deg,  #58d758 8%,#45ccda 91%) /* W3C */
  filter "progid:DXImageTransform.Microsoft.gradient(startColorstr='#58d758', endColorstr='#45ccda',GradientType=1)"
  text-shadow 1px 1px 3px rgba(0,0,0,0.2)
  margin-top 10px
  background-position center center
  background-attachment fixed
  background-size cover

.jumbotron
  background-color transparent

  p
    padding 1em 0em

.navbar-default 
  background rgba(255,255,255, 0.2)
  border-color rgba(255,255,255, 0.2)

ul.nav.navbar-nav li {
  background: none;
}

a.navbar-brand 
  color white !important
  margin-right 3em

.navbar-default .navbar-nav li a
  color white

.navbar-default .navbar-nav li a:hover
  color white

.navbar-form input
  background rgba(0,0,0,0.05)
  color white
  border solid 1px rgba(255,255,255, 0.4)
  border-radius 20px
  text-shadow 1px 1px 3px rgba(0,0,0,0.2)


.navbar-form input::-webkit-input-placeholder
  color #fff
  opacity 0.7
  text-shadow 1px 1px 3px rgba(0,0,0,0.2)


pre
  margin-top 3em
  margin-bottom 3em
  background #222
  color #A7E4A7

code
  background #222
  color #A7E4A7

  .yellow
    color #E9E100

  .gray
    color #A8A8A8  

.center
  text-align center

a
  color white

.big
  font-size 72pt

.medium
  font-size 48pt
  padding 10pt

#features
  margin-top 120px


  span
    font-size 12pt
    line-height 1 !important


.btn-tour
  background #0091FF
  border-bottom solid 3px rgba(0,0,0,0.2)
  text-shadow 1px 1px 3px rgba(0,0,0,0.2)

.btn-tour:hover
  border-bottom-color rgba(0,0,0,0.1)
  color white
  background #35A7FF

footer
  margin-top 10em
  padding-bottom 0.5em

  .container .row
    border-top solid 1px white
    padding-top 0.5em
    
    .col-md-6
      padding-left 0
      padding-right 0


.page-header small
  margin-left 10px
  color white
  font-size 12pt

#guide ul
  background rgba(255,255,255, 0.2)
  border solid 1px rgba(255,255,255,0.4)
  border-radius 5px

#guide ul h3
  padding 0em 0.5em 0.5em 0.5em 
  border-bottom solid 1px rgba(255,255,255,0.4)
  text-align center

#guide ul li
  color red

ul.appStructure li
  display block
  list-display-style block
  padding 0.3em


// News page

.calendar
  text-align center
  float left
  width 50px
  color black
  font-weight bold
  margin-right 1em
  box-shadow 0px 3px 3px rgba(0,0,0,0.25)
  border-radius 3px

  .date
    background white
    font-size 14pt
    border-bottom-left-radius 3px
    border-bottom-right-radius 3px

  .month
    background red
    border-top-right-radius 3px
    border-top-left-radius 3px
    color white

// Demo page

.thumbnail
  background-color transparent
  border-color white

  h3
    color white
  p
    color white
    
a.sponsor
  font-family 'Signika'
  font-weight 600
  color white
  text-transform: uppercase;