!!! 5
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport",content="width=device-width, initial-scale=1.0")
    meta(name="theme-color",content="#58d758")
    link(href='https://fonts.googleapis.com/css?family=Signika:700', rel='stylesheet', type='text/css')
    != SocketStream
    title Socketstream
  body
    .wrapper
      header
        .container
          .row
            nav.navbar.navbar-default(role="navigation")
              .navbar-header
                a(href="/").navbar-brand
                  img(src="/images/header-logo.png", height="15")
              ul.nav.navbar-nav
                li
                  a(href="/news") News
                li
                  a(href="http://socketstream.github.io/socketstream/docs/#/tutorials") Documentation
                li
                  a(href="/showcase") Showcase
                li
                  a(href="/plugins") Plugins
                li
                  a(href="/community") Community

      content        
      footer
        .container
          .row
            .col-md-6
              span Socketstream is licensed under the <a href="http://opensource.org/licenses/MIT">MIT Licence</a>.
            .col-md-6
              span.pull-right Sponsored by <a class="sponsor" href="https://anephenix.com">Anephenix</a>