!!! 5
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport",content="width=device-width, initial-scale=1.0")
    != SocketStream
    title SocketStream - a realtime web framework for Single Page Apps
  body
    .wrapper
      header
        .container
          .row
            nav.navbar.navbar-default(role="navigation")
              .navbar-header
                a(href="/").navbar-brand
                  img(src="/images/header-logo.png", height="15")
              ul.nav.navbar-nav
                li
                  a(href="/features") Features

      content        
      footer
        .container
          .row0
            &copy; 2013 SocketStream. SocketStream is licensed under the MIT Licence.
