!!! 5
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport",content="width=device-width, initial-scale=1.0")
    != SocketStream
    title SocketStream
  body
    .wrapper
      header
        .container
          .row
            nav.navbar.navbar-default(role="navigation")
              .navbar-header
                a(href="/").navbar-brand
                  img(src="/images/header-logo.png", height="15")
              ul.nav.navbar-nav
                li
                  a(href="/getting-started") Getting Started
                li
                  a(href="/news") News
                li
                  a(href="/features") Features

              form(action="/search", method="POST").navbar-form(role="search").pull-right
                .form-group
                  input(type="search",name="term",class="form-control",placeholder="Search")


      content        
      footer
        .container
          .row
            span 
              | SocketStream is licensed under the 
              a(href="http://opensource.org/licenses/MIT") MIT Licence
              | .
