!!! 5
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport",content="width=device-width, initial-scale=1.0")
    != SocketStream
    title SocketStream
  body
    .wrapper
      header
        .container
          .row
            nav.navbar.navbar-default(role="navigation")
              .navbar-header
                a(href="/").navbar-brand
                  img(src="/images/header-logo.png", height="15")
                button(type="button",class="navbar-toggle",data-toggle="collapse",data-target="#bs-example-navbar-collapse-1")
                  span(class="sr-only") Toggle navigation
                  span(class="icon-bar") 
                  span(class="icon-bar")
                  span(class="icon-bar")
              div.collapse.navbar-collapse#bs-example-navbar-collapse-1
                ul.nav.navbar-nav
                  for link in links
                    li
                      a(href="#{link.url}") #{link.text}
                form(action="/search", method="POST").navbar-form(role="search").pull-right
                  .form-group
                    input(type="search",name="term",class="form-control",placeholder="Search")

      content        
      footer
        .container
          .row
            span SocketStream is licensed under the <a href="http://opensource.org/licenses/MIT">MIT Licence</a>.