.container

  .row

    h1 Getting Started 

  .row

    .col-md-4

      h3 Installing SocketStream

      p As a Node.js framework, SocketStream is installed via npm.

      pre
        code
          span npm install -g socketstream

    .col-md-4

      h3 Building your first SocketStream app

      p Here is a guide on how to create a chat application with SocketStream

    .col-md-4

      h3 Developing applications with SocketStream

      p When building an application, you'll need to know how to add specific features to your application, test it, and deploy it. Thankfully there are a pioneering bunch of developers who have explored these issues, and have useful knowledge and tips to share.

    .col-md-4

      h3 SocketStream Plugins

      p A range of plugins exist to assist with working with different client-side frameworks (Backbone, Angular, Ember), Transpilers (CoffeeScript, Less), Integration testing (Cucumber.js), and WebSocket transports (SockJS). You can find them here.

    .col-md-4

      h3 Developing SocketStream

      p If you're interested in helping to add features to SocketStream, or fix existing issues, then have a read here.

    .col-md-4

      h3 Join the community

      p SocketStream has a small but passionate following. Find out how you can join in.