.container
  h1 News
  .calendar
    .month DEC  
    .date 2
  h3 Welcome to the new SocketStream site
  br
  p It's been a long time coming, but the new version of the SocketStream site has arrived.