.container
  .jumbotron
    h1 Plugins
    p TODO - provide links to the following:
    ul
      li ss-coffee
      li ss-jade
      li ss-toffee
      li ss-gorilla
      li ss-backbone
      li ss-angular
      li ss-less
      li ss-sockjs
      li ss-engine.io
      li ss-cucumber

    p ... and any more that exist out there.