.container
  .jumbotron
    h1 Plugins
    p TODO - provide links to the following:
    ul
      li ss-coffee
      li ss-typescript
      li ss-toffee
      li ss-gorilla
      li ss-jade
      li ss-hogan
      li ss-coffeekup
      li ss-ejs
      li ss-less
      li ss-backbone
      li ss-angular
      li ss-sockjs
      li ss-engine.io
      li ss-cucumber
      li ss-echo-responder
      li ss-console

    p ... and any more that exist out there.