.container
  .jumbotron
    h1 Plugins
  .row
    .col-md-12
      p SocketStream has a range of plugins that you can use to build your web applications. They range from code formatters, to client-side framework extensions, and behaviour-driven development plugins.
      p If you've created a SocketStream plugin and would like to have it listed here, contact <a href="mailto:paul@socketstream.com">Paul Jensen</a> and he will add it to the list.
  .row
    .col-md-12
      h2 JavaScript formatters
    .col-md-3
      .thumbnail
        img(data-src="holder.js/300x200")
        .caption
          h3.center ss-coffee
          p Allows you to use CoffeeScript files (.coffee) in your SocketStream project.
    .col-md-3
      .thumbnail
        img(data-src="holder.js/300x200")
        .caption
          h3.center ss-typescript
          p Allows you to use Typescript files (.ts) in your SocketStream project.
    .col-md-3
      .thumbnail
        img(data-src="holder.js/300x200")
        .caption
          h3.center ss-livescript
          p Allows you to use LiveScript files (.ls) in your SocketStream project.
    .col-md-3
      .thumbnail
        img(data-src="holder.js/300x200")
        .caption
          h3.center ss-gorilla
          p Allows you to use GorillaScript files (.gs) in your SocketStream project.
  .row
    .col-md-12
      h2 CSS formatters
    .col-md-3
      .thumbnail
        img(data-src="holder.js/300x200")
        .caption
          h3.center ss-stylus
          p Allows you to use Stylus files (.styl) in your SocketStream project.
    .col-md-3
      .thumbnail
        img(data-src="holder.js/300x200")
        .caption
          h3.center ss-less
          p Allows you to use Less files (.less) in your SocketStream project.
  .row
    .col-md-12
      h2 HTML (view) formatters
    .col-md-3
      .thumbnail
        img(data-src="holder.js/300x200")
        .caption
          h3.center ss-jade
          p Allows you to use Jade files (.jade) in your SocketStream project.
    .col-md-3
      .thumbnail
        img(data-src="holder.js/300x200")
        .caption
          h3.center ss-ejs
          p EJS (HTML) code wrapper for SocketStream 0.3
  .row
    .col-md-12
      h2 HTML (template) formatters
    .col-md-3
      .thumbnail
        img(data-src="holder.js/300x200")
        .caption
          h3.center ss-hogan
          p Use pre-compiled Hogan (Mustache-compatible) client-side templates in your app to benefit from increased performance and a smaller client-side library download.
    .col-md-3
      .thumbnail
        img(data-src="holder.js/300x200")
        .caption
          h3.center ss-coffeekup
          p Use pre-compiled CoffeeKup client-side templates in your app.
    .col-md-3
      .thumbnail
        img(data-src="holder.js/300x200")
        .caption
          h3.center ss-toffee
          p Use pre-compiled Toffee client-side templates in SocketStream.
  .row
    .col-md-12
      h2 Client-Side framework tools
    .col-md-3
      .thumbnail
        img(data-src="holder.js/300x200")
        .caption
          h3.center ss-backbone
          p SS-Backbone is a drop-in Backbone library for your SocketStream apps meant for realtime syncing of model data.
    .col-md-3
      .thumbnail
        img(data-src="holder.js/300x200")
        .caption
          h3.center ss-angular
          p Create an angular service that can be injected into controllers similar to the angular REST resource library.
  .row
    .col-md-12
      h2 WebSocket transports
    .col-md-3
      .thumbnail
        img(data-src="holder.js/300x200")
        .caption
          h3.center ss-sockjs
          p SockJS websocket transport layer for SocketStream 0.3
    .col-md-3
      .thumbnail
        img(data-src="holder.js/300x200")
        .caption
          h3.center ss-engine.io
          p Engine.io websocket transport layer for SocketStream
  .row
    .col-md-12
      h2 Testing &amp; Debugging
    .col-md-3
      .thumbnail
        img(data-src="holder.js/300x200")
        .caption
          h3.center ss-cucumber
          p Cucumber.js integration for SocketStream
    .col-md-3
      .thumbnail
        img(data-src="holder.js/300x200")
        .caption
          h3.center ss-console
          p Adds a Console (REPL) interface to your SocketStream app.
    .col-md-3
      .thumbnail
        img(data-src="holder.js/300x200")
        .caption
          h3.center ss-echo-responder
          p This is an example of an ultra-simple Request Responder for SocketStream.