.container
  .jumbotron
    h1 Showcase
    p Companies have put Socketstream into production use for all kinds of applications - here are some showcases of how Socketstream is used today.
  .col-md-6
    h2 SketchDeck
    blockquote SketchDeck is a platform for business design. We do all the hard work of turning users' content into well designed documents. We use Socketstream to rapidly iterate on our website and our backend infrastructure. Socketstream lets us rapidly deploy a fast, secure and capable platform. It’s hard to imagine all the legwork we’d otherwise have to do!
    i David Mack,&nbsp;
    b CTO - <a href="http://www.sketchdeck.com">SketchDeck</a>
  .col-md-6
    h2 Dashku
    blockquote Socketstream was crucial to delivering the smooth user experience of our Dashboard application. It also provided a seamless development workflow of reloading when code changes were made, allowing us to just focus on delivering features. We were even told that Dashku was being used at Facebook by someone working there.
    i Paul Jensen,&nbsp;
    b Creator - <a href="https://dashku.com">Dashku</a>
