.container
  .jumbotron
    h1 Showcase
  .col-md-4
    .thumbnail
      img(data-src="holder.js/300x200")
      .caption
        h3.center SocketStream Chat
        p SocketStream ships with a chat app that demonstrates how easy it is to create realtime apps. 
  .col-md-4
    .thumbnail
      img(data-src="holder.js/300x200")
      .caption
        h3.center Dashku
        p Dashku is an open source Dashboard tool that let's you create dashboards and widgets using HTML5, CSS and JavaScript.
  .col-md-4
    .thumbnail
      img(data-src="holder.js/300x200")
      .caption
        h3.center VMUX
        p VMUX is an app that let's you have video conversations with people via Twitter, powered by WebRTC.
  .col-md-4
    .thumbnail
      img(data-src="holder.js/300x200")
      .caption
        h3.center Hollow Documentary
        p This is the official site of the award-winning documentary 'Hollow'. 
  .col-md-4
    .thumbnail
      img(data-src="holder.js/300x200")
      .caption
        h3.center BitJoy
        p BitJoy is a live feed of Bitcoin prices and news, providing a stock trading screen for live pricing
  .col-md-4
    .thumbnail
      img(data-src="holder.js/300x200")
      .caption
        h3.center TeeLeader
        p TeeLeader's reservation system for golf courses is powered by SocketStream.
  .col-md-4
    .thumbnail
      img(data-src="holder.js/300x200")
      .caption
        h3.center Jarawi
        p Jarawi is aimed at making the creation of content something simple, fun and collaborative.