.container
  .jumbotron
    h1 Tutorials
    p TODO - write tutorials for the following topics
    ul
      li Doing User Authentication with SocketStream
      li Integrating a Backbone app with SocketStream
      li Using AngularJS with SocketStream
      li Testing SocketStream apps with Cucumber